# Packaging
impacket/*
develop-eggs/
__pycache__/
*.egg-info/
build/
dist/
*.egg

# Byte-compiled
__pycache__/
*.py[cod]

# macOS
.DS_Store

# PyCharm
.idea

# retired modules
subscraper/modules/archive/*

# reports
sub_report.txt
*.csv
.venv/